# Redis Queue configuration
REDIS_HOST = "redis"
REDIS_PORT = 6379

# Database configuration
DB_HOST = "db"
DB_NAME = "restaurant"
DB_USER = "admin"
DB_PASSWORD = "admin!admin"
DB_PORT = 5432

GOOGLE_MAPS_KEY = {google_maps_key}
